/*canvases*/
#viewport {
    /**
     * Position relative so that canvas elements
     * inside of it will be relative to the parent
     */
    position: relative;
}
 
#viewport canvas {
    /**
     * Position absolute provides canvases to be able
     * to be layered on top of each other
     * Be sure to remember a z-index!
     */
    position: absolute;
}

canvas {
    /**
     * Set transparent to let any other canvases render through
     */
    background-color: transparent;
}

#mute {
  float: left;
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 60px;
  padding-right: 10px;
  text-align: right;
  vertical-align: text-top;
  border: 0px;
  font-size: 1.8em;
}

.unmuted {
    background: url('img/ui/MUTEICON.png');
    padding-left: 4px;
}

.muted {
    background: url('img/ui/UNMUTEICON.png');
    padding-left: 0px;
}


#menu {
    width: 60%;
}

.under
{
position:absolute;
left:0px;
top:0px;
z-index:-1;
}
.over
{
position:absolute;
left:40px;
top:10px;
}